syntax: glob

*.pyc
*.swp
data
build
dist
*.log
virt*/*
*.egg-info*
*__pycache__*
^docs/_static
^docs/_build
^docs/_templates
tests*.xml
*komodo*
.gitignore
.version
*#
*~
flycheck_*
*.xls
*.xlsx
*.doc
*.docx
*.csv
*.db
*sqlite3*
